
.step {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-size: 1.125rem;
  font-weight: 700;
  border-width: 2px;
  border-color: var(--azul-claro); 
  color: var(--azul-marinho-escuro); 
  transition: all 0.3s;
}

.step-active {
  background-color: #00356C;
  color: white;
  border-color: #00356C;
}

.step-complete {
  background-color: white;
  border-color: #22c55e; /* verde-500 */
  color: #22c55e; /* verde-500 */
}

.btn-secundario {
  /* Adicionado para garantir o fluxo correto e ser consistente com o primário */
  display: inline-block;
  text-align: center;
  border: 2px solid var(--azul-marinho); /* Adiciona uma borda para distinção visual, se for usado como botão de "Voltar" */
  
  background-color: var(--branco); /* Fundo branco ou transparente */
  color: var(--azul-marinho); /* Cor do texto é a cor primária */
  
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn-secundario:hover {
  background-color: var(--azul-claro); /* Fundo claro no hover */
  transform: scale(1.05);
}