.tela-criao-de-conta {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1024px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: #001c39;
  	font-family: Roboto;
}
.fundo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d3e3ff;
  	width: 1920px;
  	height: 1026px;
  	opacity: 0.17;
}
.v01 {
  	position: absolute;
  	top: 998px;
  	right: 0px;
  	display: inline-block;
  	width: 41px;
  	height: 26px;
}
.bem-vindo {
  	position: absolute;
  	top: 33px;
  	left: -75px;
  	width: 701.2px;
  	height: 1026px;
  	text-align: center;
  	font-size: 18px;
  	color: #fff;
}
.bem-vindo-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 48px;
  	width: 701.2px;
  	height: 1026px;
}
.segurana-inteligente-para {
  	position: absolute;
  	top: 955px;
  	left: calc(50% - 127.6px);
  	font-weight: 500;
  	text-align: left;
  	display: inline-block;
  	width: 355px;
  	height: 27px;
}
.bem-vindo-sua-rede-container {
  	position: absolute;
  	top: 452px;
  	left: calc(50% - 236.6px);
  	font-size: 16px;
  	font-weight: 500;
  	display: inline-block;
  	width: 573px;
}
.tela-criao-de-conta-bem-vindo {
  	margin: 0;
}
.protegon-todos-os {
  	position: absolute;
  	top: 990px;
  	left: calc(50% - 151.6px);
  	font-weight: 300;
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  	width: 402px;
  	height: 21px;
}
.image-22-icon {
  	position: absolute;
  	top: 99px;
  	left: 187px;
  	width: 413.9px;
  	height: 83px;
  	object-fit: cover;
}
.cadastro {
  	position: absolute;
  	top: 77px;
  	left: 960px;
  	width: 572px;
  	height: 871px;
  	font-size: 13px;
  	color: #000;
  	font-family: Montserrat;
}
.cadastro-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 572px;
  	height: 871px;
}
.cadastra-se-aqui {
  	position: absolute;
  	top: 33px;
  	left: 95px;
  	font-size: 15px;
  	display: inline-block;
  	color: #fff;
  	text-align: center;
  	width: 367px;
  	height: 31px;
}
.cadastro-item {
  	position: absolute;
  	top: 274px;
  	left: 63px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.79);
  	box-sizing: border-box;
  	width: 480px;
  	height: 50px;
}
.cadastro-inner {
  	position: absolute;
  	top: 493px;
  	left: 66px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.79);
  	box-sizing: border-box;
  	width: 106px;
  	height: 50px;
}
.rectangle-icon {
  	position: absolute;
  	top: 594px;
  	left: 400px;
  	border-radius: 10px;
  	width: 144px;
  	height: 50px;
}
.rectangle-div {
  	position: absolute;
  	top: 593px;
  	left: 231px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.79);
  	box-sizing: border-box;
  	width: 144px;
  	height: 50px;
}
.tela-criao-de-conta-cadastro-child {
  	position: absolute;
  	top: 594px;
  	left: 64px;
  	border-radius: 10px;
  	width: 144px;
  	height: 50px;
}
.cadastro-child2 {
  	position: absolute;
  	top: 495px;
  	left: 400px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.79);
  	box-sizing: border-box;
  	width: 144px;
  	height: 50px;
}
.cadastro-child3 {
  	position: absolute;
  	top: 493px;
  	left: 196px;
  	border-radius: 10px;
  	width: 179px;
  	height: 50px;
}
.cadastro-child4 {
  	position: absolute;
  	top: 205px;
  	left: 63px;
  	border-radius: 10px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.79);
  	box-sizing: border-box;
  	width: 480px;
  	height: 50px;
}
.cadastro-child5 {
  	position: absolute;
  	top: 80px;
  	left: 63px;
  	border-radius: 10px;
  	width: 480px;
  	height: 50px;
}
.cadastro-child6 {
  	position: absolute;
  	top: 770px;
  	left: 135px;
  	border-radius: 10px;
  	background-color: #d3e3ff;
  	width: 313px;
  	height: 50px;
}
.nome-completo {
  	position: absolute;
  	top: 96px;
  	left: 125px;
  	display: inline-block;
  	width: 330px;
}
.senha {
  	position: absolute;
  	top: 292px;
  	left: 126px;
  	display: inline-block;
  	width: 330px;
}
.div {
  	position: absolute;
  	top: 512px;
  	left: 422px;
  	font-size: 14px;
  	display: inline-block;
  	width: 90px;
  	height: 28px;
  	mix-blend-mode: normal;
}
.janeiro {
  	position: absolute;
  	top: 508px;
  	left: 213px;
  	font-size: 14px;
  	display: inline-block;
  	width: 101px;
  	height: 28px;
  	mix-blend-mode: normal;
}
.outro {
  	position: absolute;
  	top: 608px;
  	left: 420px;
  	font-size: 14px;
  	display: inline-block;
  	width: 76px;
  	height: 28px;
  	mix-blend-mode: normal;
}
.m {
  	position: absolute;
  	top: 608px;
  	left: 246px;
  	font-size: 14px;
  	display: inline-block;
  	width: 122px;
  	height: 28px;
  	mix-blend-mode: normal;
}
.f {
  	position: absolute;
  	top: 605px;
  	left: 81px;
  	font-size: 14px;
  	display: inline-block;
  	width: 115px;
  	height: 28px;
  	mix-blend-mode: normal;
}
.ao-clicar-em-container {
  	position: absolute;
  	top: 688px;
  	left: 69px;
  	font-size: 10px;
  	display: inline-block;
  	width: 475px;
  	color: #fff;
}
.termos {
  	color: #d3e3ff;
}
.tela-criao-de-conta-termos {
  	text-decoration: underline;
}
.poltica-de-privacidade {
  	color: inherit;
}
.voc-poder-receber {
  	color: #fff;
}
.celular-ou-e-mail {
  	position: absolute;
  	top: 223px;
  	left: 125px;
  	display: inline-block;
  	width: 330px;
}
.data-de-nascimento {
  	position: absolute;
  	top: 464px;
  	left: 64px;
  	display: inline-block;
  	color: #fff;
  	width: 330px;
  	height: 27px;
}
.gnero {
  	position: absolute;
  	top: 555px;
  	left: 66px;
  	display: inline-block;
  	color: #fff;
  	width: 330px;
  	height: 28px;
}
.vector-icon {
  	position: absolute;
  	height: 2.41%;
  	width: 4.37%;
  	top: 25.49%;
  	right: 81.99%;
  	bottom: 72.1%;
  	left: 13.64%;
  	border-radius: 10px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	mix-blend-mode: normal;
}
.tela-criao-de-conta-vector-icon {
  	position: absolute;
  	height: 3.1%;
  	width: 3.85%;
  	top: 33.07%;
  	right: 81.99%;
  	bottom: 63.83%;
  	left: 14.16%;
  	border-radius: 10px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.49%;
  	width: 3.55%;
  	top: 58.78%;
  	right: 73.72%;
  	bottom: 39.72%;
  	left: 22.73%;
  	border-radius: 10px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: contain;
}
.tela-criao-de-conta-div {
  	position: absolute;
  	top: 510px;
  	left: 81px;
  	font-size: 14px;
  	display: inline-block;
  	width: 27px;
  	height: 28px;
}
.vector-icon3 {
  	position: absolute;
  	height: 1.49%;
  	width: 3.55%;
  	top: 59.47%;
  	right: 9.74%;
  	bottom: 39.04%;
  	left: 86.71%;
  	border-radius: 10px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: contain;
}
.vector-icon4 {
  	position: absolute;
  	height: 1.49%;
  	width: 3.55%;
  	top: 58.78%;
  	right: 36.84%;
  	bottom: 39.72%;
  	left: 59.62%;
  	border-radius: 10px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: contain;
}
.ellipse-div {
  	position: absolute;
  	top: 607px;
  	left: 168px;
  	border-radius: 50%;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 22px;
  	height: 20px;
}
.cadastro-child7 {
  	position: absolute;
  	top: 608px;
  	left: 501px;
  	border-radius: 50%;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 22px;
  	height: 20px;
}
.cadastro-child8 {
  	position: absolute;
  	top: 604px;
  	left: 341px;
  	border-radius: 50%;
  	background-color: #fff;
  	border: 1px solid #000;
  	box-sizing: border-box;
  	width: 22px;
  	height: 21px;
}
.cadastra-se {
  	position: absolute;
  	top: 786px;
  	left: 213px;
  	font-size: 15px;
  	display: inline-block;
  	text-align: center;
  	width: 156px;
  	height: 18px;
  	cursor: pointer;
}
.cadastro-child9 {
  	position: absolute;
  	top: 143px;
  	left: 64px;
  	border-radius: 10px;
  	background-color: #fff;
  	width: 479px;
  	height: 46px;
}
.cpf {
  	position: absolute;
  	top: 159px;
  	left: 130px;
  	display: inline-block;
  	width: 98px;
}
.image-3-icon {
  	position: absolute;
  	top: 88px;
  	left: 73px;
  	border-radius: 10px;
  	width: 35px;
  	height: 35px;
  	object-fit: cover;
}
.cone-cpf-icon {
  	position: absolute;
  	top: 146px;
  	left: 66px;
  	border-radius: 10px;
  	width: 45px;
  	height: 40px;
  	object-fit: cover;
}

