/* Paleta de cores */
:root {
  --azul-marinho-escuro: #001c39;
  --azul-marinho: #00356c;
  --azul-claro: #d3e3ff;
  --branco: #ffff;
 
}

/* Animações do link do menu de navegação */
.link-animado {
  position: relative;
  padding-bottom: 2px; /* Equivalente ao pb-1 */
}

.link-animado::after {
  font-weight: bold;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--azul-claro);
  transition: width 0.3s ease-in-out;
}

.link-animado:hover::after {
   font-weight: bold;
  width: 100%;
}


     
    
  