.rolamento {
  	position: absolute;
  	top: 183px;
  	left: 1871px;
  	background-color: #d9d9d9;
  	width: 18px;
  	height: 209px;
}
.aba-fim-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #001c39;
  	width: 1920px;
  	height: 215px;
}
.icons-app {
  	position: absolute;
  	top: 58.08px;
  	left: 10.02px;
  	width: 27px;
  	height: 112.1px;
}
.protegon-todos-os {
  	position: absolute;
  	top: 180.36px;
  	left: calc(50% - 199.81px);
  	font-weight: 300;
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  	width: 402.6px;
  	height: 21.4px;
}
.ajuda {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 169.25px);
  	font-weight: 500;
  	display: inline-block;
  	width: 338.5px;
  	height: 28.5px;
}
.ajuda-wrapper {
  	position: absolute;
  	top: 52.99px;
  	left: calc(50% - 168.75px);
  	width: 338.5px;
  	height: 28.5px;
}
.anotaes-dirias-wrapper {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 180.77px);
  	width: 338.5px;
  	height: 28.5px;
}
.cadastros {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 169.25px);
  	font-weight: 500;
  	display: inline-block;
  	width: 338.5px;
  	height: 28.5px;
  	cursor: pointer;
}
.cadastros-wrapper {
  	position: absolute;
  	top: 0px;
  	left: calc(50% + 245.9px);
  	width: 338.5px;
  	height: 28.5px;
}
.sobre-o-protegon-wrapper {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 584.4px);
  	width: 338.5px;
  	height: 28.5px;
}
.group-parent {
  	position: absolute;
  	top: 51.97px;
  	left: calc(50% - 583.41px);
  	width: 1168.8px;
  	height: 81.5px;
  	font-size: 28px;
}
.ajuda-container {
  	position: absolute;
  	top: 52.99px;
  	left: calc(50% + 38.55px);
  	width: 338.5px;
  	height: 28.5px;
}
.anotaes-dirias-container {
  	position: absolute;
  	top: 0px;
  	left: calc(50% + 26.53px);
  	width: 338.5px;
  	height: 28.5px;
}
.sobre-o-protegon-container {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 377.1px);
  	width: 338.5px;
  	height: 28.5px;
}
.group-container {
  	position: absolute;
  	top: 51.97px;
  	left: calc(50% - 583.41px);
  	width: 754.2px;
  	height: 81.5px;
  	font-size: 28px;
}
.aba-fim {
  	position: absolute;
  	top: 3011px;
  	left: 0px;
  	width: 1920px;
  	height: 215px;
  	font-size: 18px;
  	color: #fff;
}
.impacto-social-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 1920px;
  	height: 354px;
}
.impacto-social-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1863px;
  	height: 353px;
}
.impacto-social-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1800px;
  	height: 353px;
}
.rectangle-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1717px;
  	height: 354px;
}
.impacto-social1 {
  	position: absolute;
  	top: 48px;
  	left: calc(50% - 923px);
  	font-weight: 500;
  	display: inline-block;
  	width: 259px;
  	height: 33px;
}
.o-protegon-no {
  	position: absolute;
  	top: 145px;
  	left: 46px;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: left;
  	display: inline-block;
  	width: 978px;
}
.impacto-social {
  	position: absolute;
  	top: 2515px;
  	left: 0px;
  	width: 1920px;
  	height: 354px;
}
.alertas-psicologo-contatos-child {
  	position: absolute;
  	top: 33px;
  	left: 8px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-item {
  	position: absolute;
  	top: 33px;
  	left: 8px;
  	box-shadow: -1px 6px 8.1px rgba(0, 0, 0, 0.25);
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-inner {
  	position: absolute;
  	top: 33px;
  	left: 8px;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child1 {
  	position: absolute;
  	top: 33px;
  	left: 8px;
  	width: 463px;
  	height: 396px;
}
.alertas-psicologo-contatos-child2 {
  	position: absolute;
  	top: 33px;
  	left: 8px;
  	width: 463px;
  	height: 405px;
}
.alertas {
  	position: absolute;
  	top: 71px;
  	left: calc(50% - 762.65px);
  	font-weight: 500;
  	display: inline-block;
  	width: 121px;
  	height: 33px;
}
.rectangle-div {
  	position: absolute;
  	top: 33px;
  	left: 550.29px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child3 {
  	position: absolute;
  	top: 33px;
  	left: 550.29px;
  	box-shadow: -1px 6px 8.1px rgba(0, 0, 0, 0.25);
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child4 {
  	position: absolute;
  	top: 33px;
  	left: 550.29px;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child5 {
  	position: absolute;
  	top: 33px;
  	left: 550.29px;
  	width: 463px;
  	height: 396px;
}
.alertas-psicologo-contatos-child6 {
  	position: absolute;
  	top: 33px;
  	left: 550.29px;
  	width: 463px;
  	height: 405px;
}
.psiclogo {
  	position: absolute;
  	top: 71px;
  	left: calc(50% - 216.65px);
  	font-weight: 500;
  	display: inline-block;
  	width: 175px;
  	height: 33px;
}
.alertas-psicologo-contatos-child7 {
  	position: absolute;
  	top: 32px;
  	left: 1092.29px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child8 {
  	position: absolute;
  	top: 32px;
  	left: 1092.29px;
  	box-shadow: -1px 6px 8.1px rgba(0, 0, 0, 0.25);
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child9 {
  	position: absolute;
  	top: 32px;
  	left: 1092.29px;
  	width: 463px;
  	height: 404px;
}
.alertas-psicologo-contatos-child10 {
  	position: absolute;
  	top: 32px;
  	left: 1092.29px;
  	width: 463px;
  	height: 396px;
}
.alertas-psicologo-contatos-child11 {
  	position: absolute;
  	top: 32px;
  	left: 1092.29px;
  	width: 463px;
  	height: 405px;
}
.contatos-emergnciais {
  	position: absolute;
  	top: 70px;
  	left: calc(50% + 333.35px);
  	font-weight: 500;
  	display: inline-block;
  	width: 297px;
  	height: 33px;
}
.blank-line {
  	margin: 0;
}
.aciona-alertas-silenciosos {
  	margin-bottom: 0px;
}
.aciona-alertas-silenciosos-par {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 27px;
}
.aciona-alertas-silenciosos-container {
  	position: absolute;
  	top: 119px;
  	left: 0px;
  	font-size: 20px;
  	font-weight: 300;
  	display: inline-block;
  	width: 451px;
}
.permita-que-seu-container {
  	position: absolute;
  	top: 119px;
  	left: 547px;
  	font-size: 20px;
  	font-weight: 300;
  	display: inline-block;
  	width: 451px;
}
.no-protegon-voc-container {
  	position: absolute;
  	top: 142px;
  	left: 1099px;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: left;
  	display: inline-block;
  	width: 451px;
}
.icons8-alerta-96-2 {
  	position: absolute;
  	top: calc(50% - 219px);
  	left: 189px;
  	width: 64px;
  	height: 64px;
  	object-fit: cover;
}
.icons8-localizao-96-2 {
  	position: absolute;
  	top: 4px;
  	left: calc(50% - 29.65px);
  	width: 64px;
  	height: 64px;
  	object-fit: cover;
}
.resume-7891720-2-icon {
  	position: absolute;
  	top: 0px;
  	left: 1295px;
  	width: 64px;
  	height: 64px;
  	object-fit: cover;
}
.alertas-psicologo-contatos {
  	position: absolute;
  	top: 1943px;
  	left: 146px;
  	width: 1555.3px;
  	height: 438px;
}
.por-que-existimos-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 1919px;
  	height: 354px;
}
.por-que-existimos-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1862px;
  	height: 353px;
}
.por-que-existimos-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1799.1px;
  	height: 353px;
}
.por-que-existimos-child1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1716.1px;
  	height: 354px;
}
.por-que-existimos-container {
  	position: absolute;
  	top: 48px;
  	left: calc(50% - 922.52px);
  	font-weight: 500;
  	display: inline-block;
  	width: 258.9px;
  	height: 33px;
}
.somos-a-resposta {
  	margin: 0;
  	white-space: pre-wrap;
}
.porque-no-d-container {
  	position: absolute;
  	top: 145px;
  	left: 45.98px;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: left;
  	display: inline-block;
  	width: 977.5px;
}
.por-que-existimos {
  	position: absolute;
  	top: 1465px;
  	left: 0px;
  	width: 1919px;
  	height: 354px;
}
.misso-valores-viso-child {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-item {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	box-shadow: -1px 6px 8.1px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-inner {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	border-radius: 10px;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child1 {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	border-radius: 10px;
  	width: 463px;
  	height: 396px;
}
.misso-valores-viso-child2 {
  	position: absolute;
  	top: 1px;
  	left: 0px;
  	border-radius: 10px;
  	width: 463px;
  	height: 405px;
}
.misso {
  	position: absolute;
  	top: 39px;
  	left: calc(50% - 770px);
  	font-weight: 500;
  	display: inline-block;
  	width: 121px;
  	height: 33px;
}
.misso-valores-viso-child3 {
  	position: absolute;
  	top: 1px;
  	left: 542.29px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child4 {
  	position: absolute;
  	top: 1px;
  	left: 542.29px;
  	box-shadow: -1px 6px 8.1px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child5 {
  	position: absolute;
  	top: 1px;
  	left: 542.29px;
  	border-radius: 10px;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child6 {
  	position: absolute;
  	top: 1px;
  	left: 542.29px;
  	border-radius: 10px;
  	width: 463px;
  	height: 396px;
}
.misso-valores-viso-child7 {
  	position: absolute;
  	top: 1px;
  	left: 542.29px;
  	border-radius: 10px;
  	width: 463px;
  	height: 405px;
}
.viso {
  	position: absolute;
  	top: 39px;
  	left: calc(50% - 224px);
  	font-weight: 500;
  	display: inline-block;
  	width: 94px;
  	height: 33px;
}
.misso-valores-viso-child8 {
  	position: absolute;
  	top: 0px;
  	left: 1084.29px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child9 {
  	position: absolute;
  	top: 0px;
  	left: 1084.29px;
  	box-shadow: -1px 6px 8.1px rgba(0, 0, 0, 0.25);
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child10 {
  	position: absolute;
  	top: 0px;
  	left: 1084.29px;
  	border-radius: 10px;
  	width: 463px;
  	height: 404px;
}
.misso-valores-viso-child11 {
  	position: absolute;
  	top: 0px;
  	left: 1084.29px;
  	border-radius: 10px;
  	width: 463px;
  	height: 396px;
}
.misso-valores-viso-child12 {
  	position: absolute;
  	top: 0px;
  	left: 1084.29px;
  	border-radius: 10px;
  	width: 463px;
  	height: 405px;
}
.valores {
  	position: absolute;
  	top: 38px;
  	left: calc(50% + 326px);
  	font-weight: 500;
  	display: inline-block;
  	width: 117px;
  	height: 33px;
}
.salvar-vidas-com-container {
  	position: absolute;
  	top: 160px;
  	left: 4px;
  	font-size: 20px;
  	font-weight: 300;
  	display: inline-block;
  	width: 451px;
}
.tornar-o-protegon {
  	position: absolute;
  	top: 160px;
  	left: 548px;
  	font-size: 20px;
  	font-weight: 300;
  	display: inline-block;
  	width: 451px;
}
.empatia-em-cada-container {
  	position: absolute;
  	top: 106px;
  	left: 1103px;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: left;
  	display: inline-block;
  	width: 451px;
}
.misso-valores-viso {
  	position: absolute;
  	top: 933px;
  	left: 186px;
  	width: 1554px;
  	height: 406px;
}
.quem-somos-item {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1427px;
  	height: 353px;
}
.quem-somos-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1379px;
  	height: 353px;
}
.quem-somos-child1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	width: 1338px;
  	height: 354px;
}
.quem-somos1 {
  	position: absolute;
  	top: 48px;
  	left: calc(50% - 941px);
  	font-weight: 500;
  	display: inline-block;
  	width: 222px;
  	height: 33px;
}
.o-protegon-nasceu-container {
  	position: absolute;
  	top: 125px;
  	left: 54.08px;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: left;
  	display: inline-block;
  	width: 979.5px;
}
.quem-somos {
  	position: absolute;
  	top: 498px;
  	left: 0px;
  	width: 1920px;
  	height: 354px;
}
.aba-1-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 10px;
  	background-color: #001c39;
  	width: 1920px;
  	height: 267px;
}
.sobre-o-protegon-container1 {
  	position: absolute;
  	top: 75px;
  	left: calc(50% - 190px);
  	font-weight: 900;
  	display: inline-block;
  	width: 379px;
  	height: 56px;
}
.segurana-inteligente-para-container {
  	position: absolute;
  	top: 155px;
  	left: calc(50% - 227px);
  	font-size: 24px;
  	font-weight: 300;
  	display: inline-block;
  	width: 454px;
  	height: 28px;
}
.aba-1 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1920px;
  	height: 267px;
}
.removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1486px;
  	width: 267px;
  	height: 267px;
  	object-fit: cover;
}
.sobre-o-protegon2 {
  	position: absolute;
  	top: 138px;
  	left: 0px;
  	width: 1920px;
  	height: 267px;
  	text-align: left;
  	font-size: 48px;
  	color: #fff;
}
.top-bar {
  	position: absolute;
  	top: 22px;
  	left: calc(50% - 611px);
  	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  	border-radius: 18px;
  	background-color: #001c39;
  	width: 1222px;
  	height: 63px;
  	overflow: hidden;
}
.design-sem-nome-removebg-previ-icon {
  	width: 66px;
  	position: relative;
  	max-height: 100%;
  	object-fit: cover;
}
.tab {
  	width: 40px;
  	position: relative;
  	line-height: 24px;
  	display: inline-block;
  	flex-shrink: 0;
}
.tab1 {
  	width: 67px;
  	position: relative;
  	line-height: 24px;
  	display: inline-block;
  	flex-shrink: 0;
}
.tab2 {
  	width: 76px;
  	position: relative;
  	line-height: 24px;
  	display: inline-block;
  	flex-shrink: 0;
}
.text {
  	flex: 1;
  	position: relative;
  	line-height: 20px;
}
.ic-search-icon {
  	width: 20px;
  	position: relative;
  	max-height: 100%;
}
.textfield {
  	width: 205px;
  	border-radius: 6px;
  	border: 1px solid rgba(255, 255, 255, 0.21);
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
  	padding: 8px;
  	gap: 4px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.78);
}
.button1 {
  	position: relative;
  	line-height: 100%;
}
.button {
  	flex: 1;
  	border-radius: 8px;
  	background-color: #e3e3e3;
  	border: 1px solid #767676;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px;
  	cursor: pointer;
}
.button2 {
  	flex: 1;
  	border-radius: 8px;
  	background-color: #2c2c2c;
  	border: 1px solid #2c2c2c;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px;
  	cursor: pointer;
  	color: #f5f5f5;
}
.header-auth {
  	width: 182px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
  	color: #1e1e1e;
  	font-family: Inter;
}
.navigation {
  	position: absolute;
  	top: 22px;
  	left: 369px;
  	background-color: #001c39;
  	width: 1181px;
  	height: 63px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 0px 0px 71px;
  	box-sizing: border-box;
  	gap: 94px;
  	text-align: left;
  	font-size: 16px;
  	color: #fff;
}
.pag-institucional {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 3226px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 28px;
  	color: #000;
  	font-family: Roboto;
}

