.fundo {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #d3e3ff;
  	width: 1920px;
  	height: 1026px;
  	opacity: 0.17;
}
.v01 {
  	position: absolute;
  	top: 998px;
  	right: 0px;
  	display: inline-block;
  	width: 41px;
  	height: 26px;
}
.bem-vindo-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 48px;
  	width: 701.2px;
  	height: 1026px;
}
.segurana-inteligente-para {
  	position: absolute;
  	top: 955px;
  	left: calc(50% - 127.6px);
  	font-weight: 500;
  	text-align: left;
  	display: inline-block;
  	width: 355px;
  	height: 27px;
}
.sua-rede-de {
  	margin: 0;
}
.bem-vindo-sua-rede-container {
  	position: absolute;
  	top: 452px;
  	left: calc(50% - 236.6px);
  	font-size: 16px;
  	font-weight: 500;
  	display: inline-block;
  	width: 573px;
}
.protegon-todos-os {
  	position: absolute;
  	top: 990px;
  	left: calc(50% - 151.6px);
  	font-weight: 300;
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  	width: 402px;
  	height: 21px;
}
.image-22-icon {
  	position: absolute;
  	top: 99px;
  	left: 187px;
  	width: 413.9px;
  	height: 83px;
  	object-fit: cover;
}
.bem-vindo {
  	position: absolute;
  	top: 0px;
  	left: -99px;
  	width: 701.2px;
  	height: 1026px;
  	text-align: center;
  	font-size: 18px;
  	color: #fff;
}
.title {
  	align-self: stretch;
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
  	color: #001c39;
}
.text {
  	flex: 1;
  	position: relative;
  	line-height: 20px;
  	display: inline-block;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	height: 20px;
}
.textfield {
  	align-self: stretch;
  	border-radius: 6px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px 12px;
}
.info {
  	align-self: stretch;
  	position: relative;
  	font-size: 12px;
  	line-height: 16px;
}
.input {
  	width: 389px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 4px;
}
.row {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	color: rgba(0, 0, 0, 0.5);
}
.title1 {
  	align-self: stretch;
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
}
.textfield1 {
  	width: 393px;
  	border-radius: 6px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px 12px;
  	color: rgba(0, 0, 0, 0.5);
}
.input1 {
  	width: 490px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 4px;
}
.row1 {
  	width: 318px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.title2 {
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
}
.seconday {
  	width: 209px;
  	border-radius: 8px;
  	border: 1px solid #001c39;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
}
.primary {
  	width: 174px;
  	border-radius: 8px;
  	background-color: #001c39;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	box-sizing: border-box;
  	cursor: pointer;
  	color: #fff;
}
.button {
  	width: 395px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	font-size: 16px;
}
.list {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 390px;
  	height: 283px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 32px;
}
.criar-uma-nova {
  	position: absolute;
  	top: 297px;
  	left: 0px;
  	font-size: 16px;
  	display: inline-block;
  	width: 200.4px;
  	height: 29px;
  	cursor: pointer;
}
.lembrar-login-e {
  	position: absolute;
  	top: 192px;
  	left: 285px;
  	font-size: 10px;
  	display: inline-block;
  	width: 108px;
  	height: 12px;
}
.check-shield-alternate-stream-icon {
  	position: absolute;
  	top: 192px;
  	left: 270px;
  	width: 12px;
  	height: 12px;
  	object-fit: cover;
}
.list-parent {
  	position: absolute;
  	top: 241px;
  	left: 31px;
  	width: 393px;
  	height: 326px;
}
.image-removebg-preview-12-1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 227.15px);
  	width: 454.3px;
  	height: 229px;
  	object-fit: cover;
}
.login1 {
  	position: absolute;
  	top: 207px;
  	left: 1029px;
  	width: 454.3px;
  	height: 567px;
  	font-size: 14px;
}
.login {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1024px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 16px;
  	color: #001c39;
  	font-family: Roboto;
}

