.item-nav-sidebar{
color: var(--branco);
background-color: transparent;
transition: color 0.3s, background-color 0.3s;
}

.item-nav-sidebar:hover {
    /* Fundo: Azul Claro com 20% de opacidade */
    background-color: rgba(211, 227, 255, 0.5); 
    
    /* Texto: Azul Marinho Escuro */
    color: var(--branco); 
}

/* Estado ATIVO/SELECIONADO */
.item-nav-sidebar.active{
    /* Fundo: Azul Claro Sólido */
    background-color: var(--azul-claro); 
    
    /* Texto: Azul Marinho Escuro */
    color: var(--azul-marinho-escuro); 
}

/* Garante que os ícones e spans aninhados herdem a cor e a transição */
.item-nav-sidebar  i, 
.item-nav-sidebar  span {
    transition: color 0.3s;
    color: inherit; /* Herda a cor do elemento pai (.sidebar-button) */
}